body {
    background-image: url('starter-code/assets/destination/background-destination-desktop.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    margin: 0;
    }
  .main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 20rem 0 8rem;
  }
  .navbar-inner ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  
  .navbar-inner ul li {
   margin-right: 1em;
  }
  
  .navbar-inner ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar-inner ul li a:first-child{
    margin-left: -16px;
  }
 .navbar-inner ul li a.active{
    border-bottom: 2px solid white;
  }
  
  .navbar-inner ul li a:hover {
   border-bottom: 2px solid white;
  }
  h2{
    margin-bottom: 5rem;
    margin-left: 3rem;
  }
  h2 span{
    color: gray;
  }
  .planet-img{
    width: 20rem;
  }
  .text-side{
    margin-left: 10rem;
  }
  h1{
    font-size: 3em;
    letter-spacing: 1rem;
  }
  .planet-text{
   margin-bottom: 3rem;
   border-bottom: 1px solid rgb(175, 173, 173);
   padding-bottom: 3rem;
   line-height: 1.6;
  }
  .numbers{
    display: flex;
    flex-direction: row;
    margin-top: -2.5rem;
  }
  .right{
    margin-left: 2rem;
  }
  .last-spec{
    font-size: 1.5rem;
    margin-top: -0.8rem;
  }
  @media screen and (max-width: 576px) {
    .main{      
        flex-direction: column;
        margin: 0;
      }
      .text-side{
        
        margin-left: 0;
        text-align: center;
      }
      .numbers{
       justify-content: center;
       flex-direction: column;
       margin-top: 1rem;
      }
      .right{
        margin-left: 0;
      }
      .planet-text{
        margin-top: -1rem;
        margin: 0 2.5rem;
        margin-top: -1.5rem;
       }
       .navbar-inner{
        margin-top: 1rem;
        display: flex;
        justify-content: center;
      }

       h2{
        text-align: center;
       }
    
  }
  @media (min-width: 576px) and (max-width: 992px) {
    .main{      
        flex-direction: column;
        margin: 0;
      }
      .text-side{
        
        margin-left: 0;
        text-align: center;
      }
      .numbers{
       justify-content: center;
       flex-direction: row;
       margin-top: 1rem;
      }
      .right{
        margin-left: 10rem;
      }
      .planet-text{
        margin-top: -1rem;
        margin: 0 2.5rem;
        margin-top: -1.5rem;
       }
       .navbar-inner{
        margin-top: 1rem;
        display: flex;
        justify-content: center;
       }
       h2{
        margin-left: 2rem;
       } 
  }