body {
    background-image: url('starter-code/assets/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    margin: 0;
  }
.content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 15em 5em 10em;
  font-family: "Barlow Condensed";
}
.space{
  margin-top: 7em;
  width: 350px;
  margin-right: 15rem;
}
h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
}
h1{
  font-size: 5em;
  letter-spacing: 10px;
  font-family: Arial, sans-serif;
  font-weight: 100;
  margin-top: -0.5rem;
 }
 p{
  margin-top: -20px;
 }

 .Explore a{
    text-decoration: none;
    background-color: white;
    padding: 78px 55px;
    border-radius: 100%;
    color: black;
    font-size: 1.5rem;    
 }
 .big-circle{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    transition:  background-color 0.25s;
 }

 .big-circle.hovered {
    background-color: rgb(172, 170, 170); 
}
 @media screen and (max-width: 576px) {
    body {
        background-image: url('starter-code/assets/home/background-home-mobile.jpg');
        background-size: 100%;
    }    
 .content{
    flex-direction: column;
    text-align: center;
    margin-right: 160px;
 }

.space{
    margin-right: 0;

}
.big-circle{
    margin-top: 0;
}
}

@media (min-width: 576px) and (max-width: 992px) {
    body {
        background-image: url('starter-code/assets/home/background-home-tablet.jpg');
        background-size: 100%;
    }
    .content{
        flex-direction: column;
        text-align: center;
        margin-right: 160px;
     }
  
    .space{
        margin-right: 0;
    
    }
    .big-circle{
        margin-top: 0;
    }
}